  /****************************************************
  * Footer
  ****************************************************/

.footer{
  font-size: 13px;
  &__sponsor{
    .sponsor__logo{
      width: 200px;
    }
  }
  &__release{
    font-size: 11px;
  }
}